body {
    background-image: url("/thumbnail.jpg");
    background-repeat: space;
    color: wheat;
    font-family: 'Roboto', sans-serif;

}

.header {
   
    margin-top: 1cm;
    background-color:rgba(96, 96, 96,0.6)
}
header .headerAsac , header .nav {
    float: left;
    width: 40%;
}

.nav ul li {
    display: inline;
    margin-left: 50px;
}

.nav {
    margin-left: 10cm;
}

table, th, td {
    border: 1px solid black;
  }
  